n8n/jobflow_workflow.json
{
  "name": "JobFlow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        256
      ],
      "id": "2aa48cf4-ec02-409c-a894-899d4ce595f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vacancies",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "new"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        256
      ],
      "id": "2dbd65c7-2ac8-40a9-ba4e-0c3e4fe155b7",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "U3RATwJQsNBS1k3H",
          "name": "Supabase_JobFlow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vacancies",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code for fields').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "ignored"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $('Code for fields').item.json.reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        256
      ],
      "id": "b913a9a7-a478-46fb-91f5-445319eba30c",
      "name": "Supabase Ignored",
      "credentials": {
        "supabaseApi": {
          "id": "U3RATwJQsNBS1k3H",
          "name": "Supabase_JobFlow"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "name": "OpenAI Chat Model",
      "id": "46427b74-ca1f-47c4-ab3c-01b9899fe1c0",
      "credentials": {
        "openAiApi": {
          "id": "QxPaWKEKuAL8q5UB",
          "name": "OpenAi account 345"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Проанализируй вакансию ниже и верни вердикт в формате JSON согласно системным инструкциям:\n\n{{ $json.description }}",
        "options": {
          "systemMessage": "Ты — профессиональный агент-аналитик, работающий в связке с Сергеем (инженер-конструктор, vibe-coder, эксперт по AI-автоматизации). Твоя цель — отсеивать шум, классифицировать вакансии и находить проектные задачи, требующие системного подхода и быстрой реализации MVP.\n\nЭКСПЕРТИЗА СЕРГЕЯ:\n1. Автоматизация (n8n, Python, API).\n2. AI-агенты и RAG (поиск по документам, ГОСТы, регламенты).\n3. Продуктовая разработка (создание ботов, парсеров, AI-сервисов любого масштаба).\n\nКАТЕГОРИИ КЛАССИФИКАЦИИ И АЛГОРИТМ:\nОпредели строго одну из трех категорий для вакансии и запиши её в поле \"category\":\n\n1. \"trash\" (Мусор/Скам/Спам):\n- Явный мошеннический скам (вложения денег, платные курсы, схемы \"быстрого заработка\").\n- Сетевой маркетинг, реклама услуг, инфоцыганство или пустые сообщения без описания сути работы.\n\n2. \"ignored\" (Не подходит):\n- Строго \"full-time office\" или \"full-time remote\" с жестким графиком, ЕСЛИ в тексте нет прямого и точного попадания в стек Сергея (Python, n8n, RAG, AI-агенты). Обычную рутинную full-time работу пропускать не нужно.\n- Вакансии с абсолютно чуждым стеком (PHP, Java, Solidity, Ruby), где автоматизация и AI даже не упоминаются.\n\n3. \"sent\" (Релевантно/Берем в работу):\n- Проектная работа, фриланс, частичная занятость, гибкий график по автоматизации, созданию ботов, парсеров, интеграции LLM.\n- ИСКЛЮЧЕНИЕ ДЛЯ FULL-TIME: Допускается full-time только в том случае, если это хорошее попадание под требования (запрос именно на разработку AI-агентов, RAG-систем на Python или автоматизацию через n8n).\n\nИНСТРУКЦИЯ ПО ОТКЛИКУ (Только для категории \"sent\"):\n- Если категория \"sent\", напиши в поле \"cover_letter\" очень краткий, уверенный, технический отклик без воды. Акцент на инженерный опыт и готовые кейсы. Обязательно предложи ознакомиться с портфолио: https://github.com/Aygren.\n- Если категория \"trash\" или \"ignored\", в поле \"cover_letter\" напиши \"Не требуется\".\n- В поле \"reason\" напиши не длинное обоснование, почему вакансия отнесена именно к этой категории.\n\nИНСТРУКЦИЯ ПО ФОРМАТУ (КРИТИЧЕСКИ ВАЖНО):\n1. Отвечай ИСКЛЮЧИТЕЛЬНО валидным JSON-объектом.\n2. НИКАКОГО Markdown (абсолютно никаких ```json или ``` в начале и конце).\n3. НИКАКИХ вводных слов перед JSON. Только чистый JSON-объект.\n\nСтруктура ответа:\n{\n  \"category\": \"sent\" или \"ignored\" или \"trash\",\n  \"reason\": \"не длинное обоснование выбора категории и анализ текста\",\n  \"response\": {\n    \"cover_letter\": \"текст отклика или 'Не требуется'\",\n    \"contacts\": {\n      \"telegram\": \"извлеченный контакт/юзернейм/ссылка или 'не найден'\"\n    }\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        32,
        16
      ],
      "name": "AI Agent",
      "id": "34ba4bb4-323c-4e15-847a-0eecce972ffb",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        256
      ],
      "name": "Split In Batches",
      "id": "6fdcf423-bab9-4f56-84c8-a124664a60cc"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const item = items[0];\n  const parsed = JSON.parse(item.json.output);\n  \n  // Определяем статус на основе категории от AI\n  let finalStatus = 'ignored';\n  if (parsed.category === 'sent') finalStatus = 'sent';\n  if (parsed.category === 'trash') finalStatus = 'trash';\n  if (parsed.category === 'ignored') finalStatus = 'ignored';\n\n  return [{\n    json: {\n      id: item.json.id || 'unknown',\n      link: item.json.url || item.json.link || 'https://t.me/...', \n      \n      // Направление для Switch-ноды\n      final_status: finalStatus,\n      \n      // Теперь здесь всегда будет подробный разбор вакансии от AI для базы данных\n      reason: parsed.reason || \"Причина не указана агентом\",\n      \n      // Сопроводительное письмо (будет заполнено только для sent)\n      cover_letter: parsed.response?.cover_letter || 'Отклик не сформирован',\n      contact: parsed.response?.contacts?.telegram || 'Контакты не найдены',\n      \n      has_error: true\n    }\n  }];\n} catch (error) {\n  return [{ json: { has_error: false, error_details: error.message, final_status: 'error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        272
      ],
      "id": "f38a8367-69ee-48c3-b0fd-a646b14e418c",
      "name": "Code for fields"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vacancies",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split In Batches').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $('Code for fields').item.json.reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        96
      ],
      "id": "60f29195-b4c9-433c-960c-93631fb2b937",
      "name": "Supabase Sent",
      "credentials": {
        "supabaseApi": {
          "id": "U3RATwJQsNBS1k3H",
          "name": "Supabase_JobFlow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6aee7834-fa0c-4b9e-9a50-61f29e12846b",
              "leftValue": "={{ $json.has_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        272
      ],
      "id": "0675395e-7c72-4949-9277-1987d86a9feb",
      "name": "If Error"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1984,
        480
      ],
      "id": "e970663d-199f-4730-9953-35300734bf61",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "is_relevant",
              "value": "={{ $json.is_relevant }}",
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "cover_letter",
              "value": "={{ $json.cover_letter }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "contact",
              "value": "={{ $json.contact }}",
              "type": "string"
            },
            {
              "id": "82a70978-bc33-4c51-8d77-a54e5f9b7cac",
              "name": "link",
              "value": "={{ $('Split In Batches').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        96
      ],
      "name": "Edit Fields",
      "id": "50402fbe-49d9-4dd4-9a19-f62df44d9c69"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        272
      ],
      "id": "ee90143e-fbe7-449f-bb43-868cad6ade66",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// return items.slice(1);\n// Укажите здесь ID вакансии, которую нужно обработать\nconst TARGET_ID = 805; \n\n// Получаем все входящие данные\nconst items = $input.all();\n\n// Фильтруем массив: оставляем только тот элемент, у которого id совпадает с заданным\nconst filtered = items.filter(item => item.json.id === TARGET_ID);\n\nif (filtered.length === 0) {\n    throw new Error(`Вакансия с ID ${TARGET_ID} не найдена!`);\n}\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        256
      ],
      "id": "b7150f6c-f168-4a12-88cd-0a5930c64c0a",
      "name": "ChangeNumberOfVacasy"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.final_status }}",
                    "rightValue": "sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "68a69cfd-85ca-4c6e-a1e5-bc3666385d7e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b40245e-3223-44f7-8a2f-30fce35c24e5",
                    "leftValue": "={{ $json.final_status }}",
                    "rightValue": "ignored",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignored"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7c6950cb-36b9-4dfa-abca-da6c9b425290",
                    "leftValue": "={{ $json.final_status }}",
                    "rightValue": "trash",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trash"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        944,
        240
      ],
      "id": "05061c79-bd83-407d-b564-851ae7e4c878",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vacancies",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code for fields').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "trash"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $('Code for fields').item.json.reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        448
      ],
      "id": "134c67cd-98b3-4f2c-81d7-eb72c1dab481",
      "name": "Supabase Trash",
      "credentials": {
        "supabaseApi": {
          "id": "U3RATwJQsNBS1k3H",
          "name": "Supabase_JobFlow"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1271666124",
        "text": "=🔥 Найдена вакансия!\n\nКонтакт: {{ $json.contact }}\nСсылка на вакансию: {{ $json.link }}\nОбоснование: {{ $json.reason }}\n\nТекст отклика:\n{{ $json.cover_letter }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        96
      ],
      "name": "Telegram Sent",
      "id": "c4f6fb58-50aa-4097-8c2f-f6b44fdb8a03",
      "webhookId": "2b168b4b-f563-4fd3-b5c2-707c7f12edc9",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "1eHhExsF58vxP0ar",
          "name": "Telegram SmartHunt"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "1271666124",
        "text": "=В {{ $json.workflow.name }} при обработке вакансии {{ $json.execution.id }} произошла ошибка {{ $json.execution.error.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        0
      ],
      "name": "Telegram Error",
      "id": "a85c52fe-443b-418a-a527-77a2d5616468",
      "webhookId": "2b168b4b-f563-4fd3-b5c2-707c7f12edc9",
      "credentials": {
        "telegramApi": {
          "id": "1eHhExsF58vxP0ar",
          "name": "Telegram SmartHunt"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "41156fb8-5e10-402b-8cf5-3d380b56e0c4",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "ChangeNumberOfVacasy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase Ignored": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Code for fields": {
      "main": [
        [
          {
            "node": "If Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase Sent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code for fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChangeNumberOfVacasy": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Ignored",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Trash": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Telegram Sent": {
      "main": [
        [
          {
            "node": "Supabase Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "783b9b76-2b0c-4497-92bd-faffe4294a02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4300700b5a89163b88ad6a908ff9e3076c705e8b03a3f40f03ff2f29f7e4289"
  },
  "id": "KV72QnOqkwZvgI2M",
  "tags": []
}